<div class="card" *ngIf="product$ | async as product">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{ product.ProductName }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code:</div>
      <div class="col-md-6">{{ product.ProductCode }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category:</div>
      <div class="col-md-6">{{ product.Category }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Price:</div>
      <div class="col-md-6">{{ product.Price | currency: "USD":"symbol" }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">In Stock:</div>
      <div class="col-md-6">{{ product.QuantityInStock }}</div>
    </div>

    <div class="table-responsive">
      <table
        class="table mb-0"
        *ngIf="selectedProductSuppliers$ | async as productSuppliers"
      >
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Cost</th>
            <th>Minimum Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of productSuppliers">
            <td>{{ supplier.Name }}</td>
            <td>{{ supplier.Cost | currency: "USD":"symbol":"1.2-2" }}</td>
            <td>{{ supplier.MinQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="alert alert-danger"
  *ngIf="errMessageAction$ | async as errorMessage"
>
  {{ errorMessage }}
</div>
